*graph.pb
keystore.properties
keystore.jks
rounded.pb
optimized.pb
output_graph_optimized.pb
output_graph_optimized_rounded.pb
captures/
*def.pb
.DS_Store
.gradle/
build/
gradleBuild/
local.properties
*.iml
.idea/
gradle.properties
deepenlib-release.aar